* {
  margin: 0px;
  padding: 0px;
}

.row1 {
  margin-top: 10px;
  margin-left: 15%;
}

#input1-box {
  padding: 10px;
  width: 30%;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  /* border-right: none; */

}

.row1 .button {
  padding: 10px;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  background: white;
  border: 1px solid black;
  outline: none;
}


.doubleCard {
  display: flex;
  flex-wrap: wrap;
}